<div class="form-inline narrow">
    <div class="input-group input-group-sm">
        <span class="input-group-addon">at least</span>
        <input class="form-control input-sm" type="number" step="1" ng-model="higher" name="higher"/>
    </div>
</div>
<div class="form-inline narrow">
    <div class="input-group input-group-sm">
        <span class="input-group-addon">at most</span>
        <input class="form-control input-sm" type="number" step="1" ng-model="lower" name="lower"/>
    </div>
</div>